:root {
    /* dracula colors */
    /*
    --black: #282a36;
    --white: #f8f8f2;
    --grey: #44475a;
    --blue: #6272a4;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --red: #ff5555;
    --yellow: #f1fa8c;
    */

    /* nord colors */
    --black: #2e3440;
    --white: #e5e9f0;
    --darkgrey: #3b4252;
    --grey: #4c566a;
    --lightgrey: #d8dee9;
    --blue: #5e81ac;
    --bluegrey: #81a1c1;
    --cyan: #88c0d0;;
    --green: #a3be8c;
    --orange: #d08770;
    --purple: #b48ead;
    --red: #bf616a;
    --yellow: #ebcb8b;

    --background: var(--black);
    --foreground: var(--white);
    --heading: var(--white);
    --border: var(--purple);
    --links:var(--cyan);
}

@font-face {
    font-family: 'dejavu';
    src: url('DejaVuSans-regular.woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: dejavu, arial, sans-serif;
    font-size: 16px;
    color: var(--foreground);
    font-weight: 300;
}

body {
    background-color: var(--background);
}

.wrapper {
    display: flex;
    width: 85%;
    max-width: 90rem;
    margin: auto;
    padding-top: 4rem;
}

.content {
    max-width: 27rem;
}

.flair {
    flex: 1;
    padding-left: 2rem;
    display: none;
}

@media only screen and (min-width: 50rem) {
    .flair {
        display: block;
    }
}

section {
    padding-bottom: 1.5rem;
}

h2 {
    color: var(--heading);
    font-size: 1.25rem;
    font-weight: 100;
    padding-bottom: 0.25rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--border);
}

h2 ~ a {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-right: 0.5rem;
    color: var(--links);
}

p {
    padding: 0.25rem 0 1rem;
}

canvas {
    width: 100%;
}
